* linguist-vendored
*.bat linguist-vendored=false
*.js linguist-vendored=false
*.py linguist-vendored=false
*.sh linguist-vendored=false
*.cpp linguist-vendored=false
*.c linguist-vendored=false
* text=auto
